/*
COMMON
*/
/* BACKGROUND-COLOR */
.gp-bg-primary {
  background-color: #2c3e50;
}

.gp-bg-secondary {
  background-color: #3a546d;
}

.gp-bg-green {
  background-color: #1abc9c;
}

/* FONT SIZE */
.gp-fz-30 {
  font-size: 30px;
}

.gp-fz-40 {
  font-size: 40px;
}

/* TEXT-COLOR */
.gp-color-primary {
  color: #2c3e50;
}

/*
UTILITIES
*/
.gp-ul {
  list-style: none;
}

.gp-btn {
  font-style: none;
  border: none;
  color: white;
  background-color: #1abc9c;
  border: 1px solid white;
}
